<div class="card-content mb-4" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
                    <i *ngSwitchDefault > {{ s }}</i>
                </span>
            </li>
        </ul>
        <p>Servicios</p>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up" lista_destinos_item><i class="material-icons md-18">thumbs_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down" lista_destinos_item><i class="material-icons md-18">thumbs_down</i></a> Votos: {{ destino.votes }}
        </div>
        <a href="#" class="btn-card" (click)="go()" appTrackearClick data-trackear-tags="destino_elegir_preferido" lista_destinos_item>Go!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{PREFER}}</span>
        </span>
        <a [routerLink]="['/destino']">View Details</a>
    </div>
</div>